// Theme 1
//backgrounds
$main-bg: hsl(222, 26%, 31%);
$toggle-bg: hsl(223, 31%, 20%);
$screen-bg: hsl(224, 36%, 15%);

//keys
$key-bg: hsl(30, 25%, 89%);
$key-shadow: hsl(28, 16%, 65%);
$key-bg-special: hsl(225, 21%, 49%);
$key-shadow-special: hsl(224, 28%, 35%);
$key-bg-toggle: hsl(6, 63%, 50%);
$key-shadow-toggle: hsl(6, 70%, 34%);

// Text
$text-primary: white;
$text-secondary: hsl(221, 14%, 31%);
